body{
    background-color: #2C353C;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

.header-base{
    background-color: rgba(0,0,0,0.3);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}


.section{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.section-title{
    font-size: 25px;
    color: #ffffff;
    padding-bottom: 15px;
}

.pap{
    background-color: rgb(74, 82, 92)!important;
    color: #ffffff;
    font-size: 25px;
    transition: all 0.4s;
}
.pap:hover{
    background-color: #ffffff!important;
    color:rgb(74, 82, 92);
    box-shadow: 2px 2px 8px rgba(0,0,0,0);
    transition: all 0.4s;
}

.paper{
    background-color: rgb(255, 255, 255);
    max-height: 150px;
    width: 300px;
    border-radius: 5px;
    padding-bottom: 5%;
    padding-top: 5%;
    transition: all 0.4s;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    display: inline-block;
    margin-right: 25px;
    white-space: normal;
}

.paper:hover{
    background-color: #b4b4b4!important;
    box-shadow: 2px 2px 8px rgba(0,0,0,0);
    font-size: 23px!important;
    transition: all 0.4s;
}

.action{
    font-size: 25px;
    color: rgb(92, 92, 92);
}

.paper-params{
    margin-top: 40px;
}

.form-group{
    margin-right: 0%;
    margin-left: 0%;
    color: #ffffff;
    transition: all 0.4s;
}

.aa{
    margin-right: 0%!important;
    margin-left: 0%!important;
    color: #2C353C!important;
    transition: all 0.4s;
}

@media (min-width: 768px){
    .form-group{
        margin-right: 20%;
        margin-left: 20%;
        transition: all 0.4s;
    }
}

.creator{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    padding-bottom: 7px;
    padding-top: 20px;
    margin-top: 70px;
}

.b{
    margin-top: 30px;
    text-align: center;
}

#questions{
    margin-top: 50px;
}

.question{
    margin-top: 15px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.qnum{
    font-size: 19px;
    color: rgb(119, 119, 119);
    padding-right: 10px;
}

.t{
    font-size: 20px;
}

p{
    margin-bottom: 0!important;
}


.top-title{
    color: white;
}

.q-title{
    color: #b4b4b4;
}

.add-to{
    color: #2C353C;
    padding-right: 10px;
}

.butsec{
    padding-top: 15px;
}

.act{
    background-color: #42a1b4!important;
}

.qcard-img{
    margin-top: 20px;
}

.qes{
    margin-top: 40px;
}