.card-header{
    color: #ffffff;
    font-size: 25px;
    border: none!important;
}

.student_paper{
    background-color: #cac9c9;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    color: #3f3f3f;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.student_paper:hover{
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    color: #2C353C;
    box-shadow: 2px 2px 8px rgba(0,0,0,0);
    transition: all 0.4s;
}

.main-section{
    margin-top: 50px;
}

.info-group-2{
    font-size: 22px;
    margin-top: 5px;
    color: rgb(41, 77, 94);
}

.ex-but{
    margin-top: 10px;
}

hr{
    border: 1px solid #838383!important;
}

.timer-container{
    color: #ffffff;
    font-size: 20px;
}

.student_question_card{
    background-color: #ebe8e8;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
}

.qcard-img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.questions-container{
    display: none;
    padding-top: 25px;
}

.current-q{
    display: block!important;
}

.tit{
    color: white;
}

.upload-btn{
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: all 0.4s;
}

.submit-button{
    background-color: rgb(46, 165, 46)!important;
    border-color: rgb(46, 165, 46)!important;
    border: 2;
    transition: all 0.4s;
}

#uploaded-file{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 12px;
    transition: all 0.4s;
}